.popup__container_auth {
  margin: 0 auto;
  width: 430px;
  position: relative;
  display: flex;
  box-sizing: border-box;
  padding: 60px 36px 37px;
  background-color: #000000;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  height: 100vh;
}
