.profile__userjob {
  max-width: 400px;
  margin: 0;
  padding-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 1080px) {
  .profile__userjob {
    max-width: 200px;
    padding-top: 7px;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
  }
}
