.place__delete-btn {
  width: 18px;
  height: 19px;
  background-image: url(../../../images/place-delete.svg);
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: 20px;
  right: 20px;
}

.place__delete-btn:hover {
  opacity: 0.5;
}
