.page__centered {
  margin: 0 200px;
}
@media screen and (max-width: 1080px) {
  .page__centered {
    margin: 0 100px;
  }
}
@media screen and (max-width: 600px) {
  .page__centered {
    margin: 0 19px;
  }
}
